Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: solium, lint-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
    - id: pretty-format-json
      args: ['--autofix']
 - repo: local
   hooks:
    - id: solium
      name: Solidity linter
      language: node
      entry: solium
      files: '\.sol$'
      args:
      - --dir=solidity/contracts/
      - --config=solidity/.soliumrc.json
      additional_dependencies:
      - ethlint@1.2.3
    - id: lint-js
      name: 'lint js'
      entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
      files: '\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Added tenderly installation step
  solidity/scripts/circleci-migrate-contracts.sh
Due: none

Install tenderly with sudo
  solidity/scripts/circleci-migrate-contracts.sh
Due: none

Skip dry run for ropsten migrations
  solidity/truffle-config.js
Due: lint-js

Updating tenderly account ID with the new value
  solidity/tenderly.yaml
Due: none

Update staking-port-bakcer-dapp-starter script
  solidity/scripts/staking-port-backer-dapp-starter.js
Due: lint-js

Fix filter arg in the getPastEvents function
  solidity/dashboard/src/services/staking-port-backer.service.js
Due: lint-js

Fix fetching copied delegations
  solidity/dashboard/src/services/tokens-page.service.js
Due: lint-js

Fix copy-stake flow
  solidity/dashboard/src/sagas/copy-stake.js
Due: lint-js

Display border on a selected item in copy stake
  solidity/dashboard/src/components/copy-stake-steps/Step1.jsx
  solidity/dashboard/src/components/copy-stake-steps/Step2.jsx
Due: none

Fix fetching delegations from grant
  solidity/dashboard/src/services/tokens-page.service.js
Due: lint-js

Require to report timeout if it happened before requesting new entry
  solidity/contracts/KeepRandomBeaconOperator.sol
  solidity/test/random_beacon_operator/TestRelayEntryTimeout.js
  solidity/test/random_beacon_operator/TestSlashing.js
Due: solium, lint-js

Use consts instead of lets where possible
  solidity/test/random_beacon_operator/TestRelayEntryTimeout.js
  solidity/test/random_beacon_operator/TestSlashing.js
Due: lint-js

Removed duplicate test
  solidity/test/random_beacon_operator/TestRelayEntryTimeout.js
Due: lint-js

Test making sure request is no retried if there are no more groups
  solidity/test/random_beacon_operator/TestRelayEntryTimeout.js
Due: lint-js

Made test name more precise
  solidity/test/random_beacon_operator/TestSlashing.js
Due: lint-js

Test covering genesis after relay entry timeout moved to another file
  solidity/test/random_beacon_operator/TestRelayEntryTimeout.js
  solidity/test/random_beacon_operator/TestSlashing.js
Due: lint-js

Double-check beacon is busy after retrying request on timeout
  solidity/test/random_beacon_operator/TestRelayEntryTimeout.js
Due: lint-js

Remove unused stub contract
  solidity/contracts/stubs/OldStakeDelegatable.sol
Due: solium

Fix typos
  solidity/dashboard/src/components/copy-stake-steps/Step3.jsx
  solidity/dashboard/src/components/copy-stake-steps/Step4.jsx
Due: none

Remove unecessary else statement
  solidity/dashboard/src/components/copy-stake-steps/Step3.jsx
  solidity/dashboard/src/components/copy-stake-steps/Step4.jsx
Due: none

Cleanup deploy_contracts script
  solidity/migrations/2_deploy_contracts.js
Due: lint-js

Setting no_output_timeout of migrate_contracts job to 30m
  .circleci/config.yml
Due: none

Add a couple of JSDoc type annotations to faucet
  infrastructure/gcp/keep-test/google-functions/keep-faucet/issue-grant.js
Due: lint-js

Move handleRevert to Web3 object
  infrastructure/gcp/keep-test/google-functions/keep-faucet/issue-grant.js
Due: lint-js

Bump web3 to 1.2.11
  infrastructure/gcp/keep-test/google-functions/keep-faucet/package-lock.json
  infrastructure/gcp/keep-test/google-functions/keep-faucet/package.json
Due: none

Rework faucet to find the first available nonce
  infrastructure/gcp/keep-test/google-functions/keep-faucet/issue-grant.js
Due: lint-js

Give deploy-faucet.sh a shebang
  infrastructure/gcp/keep-test/google-functions/keep-faucet/deploy-faucet.sh
Due: none

Use npx truffle in install scripts
  scripts/install.sh
Due: none

Renamed tenderly's token to access-key option
  solidity/scripts/circleci-migrate-contracts.sh
Due: none

Update the OldTokenStaking stub contract
  solidity/contracts/stubs/OldTokenStaking.sol
  solidity/migrations/2_deploy_contracts.js
Due: solium, lint-js

Cleanup staking-port-backer-dapp-starter script
  solidity/scripts/staking-port-backer-dapp-starter.js
Due: lint-js

Align text in a custom list bullets
  solidity/dashboard/src/css/commons.less
Due: none

Updated testnet contract versions to the ones from 1.3.0-rc.1
  docs/run-random-beacon.adoc
Due: none

Set gas price for Ropsten to 400Gwei temporarily
  solidity/truffle-config.js
Due: lint-js

Fix ledger live derivation path pattern
  solidity/dashboard/src/connectors/ledger.js
Due: lint-js

Add accounts pagination for Ledger accounts
  solidity/dashboard/src/components/ChooseWalletAddress.jsx
  solidity/dashboard/src/components/LedgerModal.jsx
  solidity/dashboard/src/connectors/abstract-connector.js
  solidity/dashboard/src/css/choose-wallet-address.less
Due: lint-js
